@charset "utf-8";
/* CSS Document */

input[type="number"] {
    text-align: right;

    @-moz-document url-prefix() {
        direction: rtl;
    }
}

input.month  {
    width: 64pt;
}

td {
    padding: .2rem .5rem;
}
